main {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    background-color: salmon;
}

.form-box {
    /* 相对定位 */
    position: relative;
    width: 400px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    background-color: rgba(255, 255, 255, 0.5);
    /* 背景模糊 */
    backdrop-filter: blur(25px);
    /* 阴影 */
    box-shadow: 0, 0, 50px, 20px rgba(0, 0, 0, 0.5);
    border-radius: 40px;

}

.form-box p {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 3px;
}

.form-box input {
    width: 250px;
    height: 30px;
    margin: 13px auto;

    background: transparent;
    text-indent: 7px;
    border: none;
    border-bottom: 1px solid rgba(216, 9, 9, 0.8)
}

.form-box button[id="login"] {
    width: 260px;
    height: 35px;
    margin: 35px auto 60px auto;
    border: none;
    background-color:#69be1a;
    color: rgb(10, 6, 51);
    border-radius: 8px;

    letter-spacing: 1.5px;
    font-weight: bold;
}

.form-box button[id="login"]:hover {
    background-color: #54aa04;
}

.form-box span {
    font-size: 14px;
}