body {
	display: flex;
	justify-content: center;
	flex-direction: column;
	
}
.header {
	color: white;
	font-style: Verdana;
	padding-left: 70px;
	padding-bottom: 30px;
	padding-top: 20px;
	margin-top: 0px;
	margin-left: -8px;
	margin-right: -8px;
	margin-bottom: -70px;
}

a:visited {
	text-decoration: none;
	color: white
}

a:link {
	text-decoration: none;
	color: white
}

ul > li {
	display: inline-block;
	margin-bottom: -20px;
}

.nevigation {
	border-bottom: 5px solid rgb(41, 120, 199);
	background-color: #1b242e;
	;
	padding: 10px;
	margin-top: -8px;
	margin-left: -8px;
	margin-right: -8px;
}

.links {
	margin-left: 200px;
}

.gg-layout-list {
	color: white;
	margin-top: 10px;
	margin-bottom: -11.5px;
}

.nevi-links {
	padding-left: 40px;
	font-size: large;
	font-weight: 530;
	font-style: Helvetica;
}

#titleinput {
	width: 1100px;
	height: 30px;
	text-align: center;
}
#mtitle {
	padding-left: 400px;
}
#ttitle {
	padding-left: 300px;
}
#main {
	width: 1100px;
	height: 400px;
	
}

.input {
	border-style: ridge;
	border-width: 5px;
	border-color: rgb(41, 120, 199);
	border-radius: 10px;
}

#submitButton {
	background-color: #778899;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 10px;
	width:150px;
	height:50px;
}
.username {
	text-align: center;
}
.filter {
	text-align: right;
}
.achievetitle {
	border-bottom-style: groove;
	border-bottom-color: lightcoral;
}
.blogtitle {
    border-top: 1px solid #778899;
    margin-bottom: 35px;
    margin-right: 200px;
    padding: 10px;
	display:flex;
	flex-direction:row
	}
.user {
	display: flex;
	flex-direction: row;
	margin-left: 20px;
	margin-right: 20px;
	padding-right: 800px;
}
.time {
	font-size: small;
	color: #778899;
}
.oldtitle {
	 color: blue ;
     padding-right: 20px;
}
.blog{
	display:flex;
	flex-direction:column;
}
.img {
	padding-right: 30px;
}
.newlink {
	border-style:solid;
	border-radius:10px;
	padding:10px;
	margin-top: 20px;
	background-color: rgb(41, 120, 199);
}
