/*CSS code for Navigation Bar Start from HERE*/
.header{
    
    color: white;
    font-style: Verdana;
    font-size: xx-large;
    padding-left: 70px;
    padding-bottom: 30px;
    padding-top: 20px;
    margin-top: 0px;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -70px;
    
}

a:visited{text-decoration: none; color: white}
a:link{text-decoration: none; color: white}

.content{
    margin-top: 60px;
}

ul > li {
    display: inline-block;
    margin-bottom: -20px;
}

.nevigation{
    border-bottom: 5px solid rgb(41, 120, 199);
    background-color: #1b242e;
    width: 100%;
    padding: 10px;
    margin-top: -26px;
    margin-left: -8px;
    margin-right: -8px;
    position: fixed;
}

.links{
    
    margin-left: 200px;
}

.gg-layout-list{
    color:white;
    margin-top: 10px;
    margin-bottom: -11.5px;
}

.nevi-links{
 
    padding-left: 40px;
    font-size: large;
    font-weight: 530;
    font-style: Helvetica;
}


#login{
    color: white;
    margin-left: 300px;
    margin-bottom: -20px;
    font-size: smaller;
}
/*CSS for Navigation bar end*/

/*The Content of index.html Start from Here */

.filter{
    color: #778899;
    font-weight: 600;
    font-size: x-large;
    margin-left: 5px;
}

span.blue{
    color:#1b242e;
}

.announce-icon{
    padding-left: 100px;


}

.inter-link{
    background-color:rgb(41, 120, 199);
    padding: 6px;
    border: rgb(41, 120, 199) solid 3px;
    border-radius: 10px;
    margin: 0px;
}

table {
    display: block; 
}

td{
    
}

.Recent{
    border: 1px solid #778899;
    width: 30%;
    height: 200px;
    margin-bottom: 35px;
    margin-right: 800px;
    padding: 25px;
}

.blog{
    border-top: 1px solid #778899;
    margin-bottom: 35px;
    margin-right: 500px;
    padding: 10px;
}

.title{
    font-size: x-large;
    color: rgb(41, 120, 199);
}

.time{
    font-size: small;
    color: #778899;
}
